@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.container {
  @apply mx-auto w-full max-w-6xl px-4;
}

.link-underline {
  @apply underline decoration-brand-blue decoration-2 underline-offset-4;
}
